body {
    background-size:     cover;
    background-image: url("/img/loginBG.jpg");
}
#form{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
#form-login{
    max-width: 400px;
    background:rgba(0,0,0,0.8);
    flex-grow: 1;
    padding: 30px 30px 40px;
}
.heading{
    font-size: 40px;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 50px;
}
.group{
    border-bottom: 1px solid #fff;
    margin-top: 15px;
    margin-bottom: 30px;
    color: #f5f5f5;

}
.input{
    background: transparent;
    border:0;
    outline:0;
    color: #f5f5f5;
}
.input::placeholder{
    color: #f5f5f5;
}
