* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif ;
}
#header {
    background-color: rgb(0,14,33);
    text-align: center;
}
nav {
    background-color: yellow;
}
.content ul{
    max-width: 1200px;
    margin: auto;
    height: 50px;
}

ul {
    list-style: none;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li, a {
    font-size: 12px;
}

