* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header {
    background-color: mediumspringgreen;
    height: 46px;
}
#header ul li{
    display: inline-block;
}
#header img {
    height: 46px;
}
#nav li {
    text-align: center;
    margin-bottom: 20px;
    box-shadow: black;
}
#slide  img{

    width: 50%;
    height: 400px;
}

